In [ ]:
# isso e um comentario

In [1]:
# importando bibliotecas
# Por conversao vamos chamar o pandas de pd
import pandas as pd

In [2]:
# carregar o arquivo csv
# pandas vai converter o arquivo em um DataFrame
# Por conversao chamamos o DataFrame de df
df = pd.read_csv("Unidades_da_Rede_Federal_de_EPCT.csv")

# mostra as 5 primeiras linhas do DataFrame
df.head()

,sigla_unidade_ensino,nome_unidade_ensino,dt_autorizacao,sigla_uf_unidade_ensino,nome_municipio_unidade_ensino
0,NaN,ASSOCIAÇÃO TÉCNICO EDUCACIONAL EQUIPE,03/02/2015 17:31:40,RS,Sapucaia do Sul
1,NaN,CEFET DO MARANHAO,14/02/2014 19:44:56,MA,Tutóia
2,NaN,CEFET MG CAMPUS II,23/06/2010 14:27:47,MG,Belo Horizonte
3,NaN,CEFET-MG/campusV/Divinópolis,06/04/2009 08:07:15,MG,Divinópolis
4,NaN,CEFET - MG UNED contagem,21/03/2012 16:58:14,MG,Contagem